/* General body styling */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Main content styling */
.main-content {
    flex: 1;
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
}

/* Header styling */
.header {
    background: rgba(255, 255, 255, 0.8);
    color: #333;
    padding: 60px 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.header h1 {
    margin: 0;
    font-size: 2.5em;
}

/* Authentication section styling */
.auth-section {
    text-align: center;
    padding: 40px;
    width: 200%; /* Set fixed width */
    margin: auto;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 16px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    transform: translateX(-50%); /* Center the section */
    position: relative; /* Needed for transform */
    left: 50%; /* Center the section */
}

.auth-section h2 {
    font-size: 2em;
    margin-bottom: 40px;
}

.auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form {
    width: 100%;
    text-align: left;
}

.input-label {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.input-field {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Button styling */
.auth-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: #333;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    text-decoration: none;
    font-size: 1em;
    margin: 10px;
    width: calc(80% - 40px); /* Adjust width to match input fields */
}

.auth-button:hover {
    background-color: rgba(255, 255, 255, 0.9);
    transform: scale(1.05);
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* Footer styling with glass effect */
footer {
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    position: relative;
    width: 100%;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

footer p {
    margin: 0;
    color: #333;
    font-size: 14px;
}